<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>People in space</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="../../css/gtvg.css" media="all" rel="stylesheet"
          th:href="@{/css/gtvg.css}" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/reports-position">Position reports</a>
            <a class="nav-item nav-link active" href="#">People in space<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" th:remove="all">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" th:remove="all">Disabled</a>
        </div>
    </div>
</nav>

<div class="col-8 mx-auto mt-5">
    <table class="table table-striped table-dark table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Spaceship</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="astronaut : ${astronauts}">
            <th scope="row" th:text="${astronaut.id}">1</th>
            <td th:text="${astronaut.name}">Mark</td>
            <td th:text="${astronaut.spaceship}">Otto</td>
        </tr>
        <tr th:remove="all">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr th:remove="all">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>