<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ISS Records</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="../../css/gtvg.css" media="all" rel="stylesheet"
          th:href="@{/css/gtvg.css}" type="text/css"/>

    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
      function initialize() {
        var positions = JSON.parse("[[${positions}]]".replace(/&quot;/g, '"')).filter((_, idx) => idx % 10 === 0);
        var options = { zoom: 2.0, position: [positions[0].latitude, positions[0].longitude] };
        var earth = new WE.map('earth_div', options);
        WE.tileLayer('https://webglearth.github.io/webglearth2-offline/{z}/{x}/{y}.jpg', {
              tileSize: 256,
              minZoom: 0,
              maxZoom: 16,
              tms: true
            }).addTo(earth);
        WE.marker([positions[0].latitude, positions[0].longitude]).addTo(earth);
        positions.splice(0, 1);
        positions.forEach((item, index) => WE.marker([item.latitude, item.longitude], 'https://flyclipart.com/thumb2/dot-png-images-free-download-167838.png', 10, 10).addTo(earth));

                // Start a simple rotation animation
            var before = null;
            requestAnimationFrame(function animate(now) {
                var c = earth.getPosition();
                var elapsed = before? now - before: 0;
                before = now;
                earth.setCenter([c[0], c[1] - 0.1*(elapsed/30)]);
                requestAnimationFrame(animate);
            });
      }

    </script>

</head>

<body onload="initialize()" style="background-color: #A9A9A9;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ISS Tracker</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/reports-position">Position reports<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/people-in-space">People in space</a>
            <a class="nav-item nav-link" href="#" th:remove="all">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" th:remove="all">Disabled</a>
        </div>
    </div>
</nav>

<div class="mx-auto my-5" id="earth_div" style="width:600px;height:400px; padding:2px;background-color: black;"></div>

<div class="col-8 mx-auto mt-5">
    <table class="table table-striped table-dark table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
            <th scope="col">Date - Time</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${iss_reports}">
            <th scope="row" th:text="${record.id}">1</th>
            <td th:text="${record.IssPosition.longitude}">Mark</td>
            <td th:text="${record.IssPosition.latitude}">Otto</td>
            <td th:text="${#temporals.format(record.localDateTime, 'HH:mm:ss, dd MMMM, yyyy')}">@mdo</td>
            <td th:text="${record.message}">@mdo</td>
        </tr>
        <tr th:remove="all">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr th:remove="all">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-dark">
            <li class="page-item" th:classappend="${iss_reports.first} ? 'disabled'"><a class="page-link"
                                                                                        th:href="@{reports-position(page=${iss_reports.number - 1})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${iss_reports.number} == ${page} ? 'active'"
                th:each="page : ${#numbers.sequence(0, iss_reports.totalPages - 1)}"><a class="page-link"
                                                                                th:href="@{reports-position(page=${page})}"
                                                                                th:text="${page + 1}">1</a></li>
            <li class="page-item" th:remove="all"><a class="page-link" href="#">2</a></li>
            <li class="page-item" th:remove="all"><a class="page-link" href="#">3</a></li>
            <li class="page-item" th:classappend="${iss_reports.last} ? 'disabled'"><a class="page-link"
                                                                                       th:href="@{reports-position(page=${iss_reports.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>